.table-row-cell:empty {
    -fx-background-color: transparent;
}

.table-row-cell:empty .table-cell {
    -fx-border-width: 0px;
}

.note-settings-combo-box {
    -fx-background-color: white;
    -fx-text-fill: #51C46B;
}